@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

/* if an a tag has the active classname then make the hr tag underline visible*/
a.active hr{
  display: block;
}

